
.carousel_large{
  display: hidden;
}


@media screen and (min-width: 480px) {
  
  /*********************
Navbar Left
  **********************/


  /*********************
Larger carousel
  **********************/

.carousel_small{
  display: hidden;
  }

.carousel_large{
  display: inline;
}

@media screen and (min-width: 660px) {

      /*********************
  PAGE: header
  **********************/
