
.nav {
  background-color: lightgray;
}

.slideshow_large {
  visibility: hidden;
  background-color: darkgray;
}

.calendar {
  background-color: coral;
}

.Plan_Visit {
  background-color: darkgray;
}

.Media {
  background-color: darksalmon;
}

.footer {
  background-color: gold;
}




.carousel_large{
  display: hidden;
}


  /*********************     Responsive  - First Breakpoint      **********************/
  
  
@media screen and (min-width: 480px) {
  
  /*********************
Navbar Left
  **********************/


  /*********************
Larger carousel
  **********************/

.carousel_small{
  display: hidden;
  }

.carousel_large{
  display: inline;
}


  /*********************     Responsive  - First Breakpoint      **********************/
  
  
@media screen and (min-width: 660px) {

      /*********************
  PAGE: header
  **********************/
